*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  align-items: center;
  justify-content: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.content {
  display: grid;
  grid-template-columns: 711px 399px;
  grid-template-areas: "result details";
  gap: 30px;
  place-items: end;
  width: 1140px;
}

.result {
  grid-area: "result";
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.content__details {
  grid-area: "details";
  width: 100%;
  height: 100%;
}

.search-form {
  display: flex;
  flex-direction: row;
  min-width: 711px;
  justify-content: space-between;
  align-items: end;
}

.search-form__submit-button {
  width: 194px;
  height: 34px;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 30px;
}

.content__list-container {
  position: relative;
  max-height: 298px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.title {
  margin-bottom: 26px;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
}

.result__video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.content__video-card {
  display: flex;
  align-items: stretch;
  width: 100%;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  width: 196px;
  flex-grow: 1;
}

.search-form__fieldset-title {
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  padding-bottom: 8px;
}

.content__card-link {
  text-decoration: none;
  color: #fff;
  display: block;
  cursor: pointer;
}

.content__video-card-title {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  margin-bottom: 6px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.content__video-card-description {
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 16.2px;
  display: -webkit-box;
  webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding-bottom: 4px;
}

fieldset {
  border: none;
}

.search-form__label {
  display: flex;
  flex-direction: row;
  width: fit-content;
  justify-content: center;
  cursor: pointer;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: #fff solid 1px;
  outline-offset: 1px;
}

.search-form__label:active {
  outline: #fff solid 1px;
  outline-offset: -1px;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
  text-underline-offset: 1px;
}

.search-form__textfield {
  /* Вернуться к факультативным шагам по инпутам и чекбоксам */
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  background-color: transparent;
  border: #fff solid 1px;
  border-left: none;
  border-right: none;
  appearance: none;
  min-width: 225px;
  color: currentColor;
}

.search-form__textfield:hover {
  text-decoration: none;
}

.search-form__textfield::placeholder {
  color: #bababa;
}

.search-form__pseudo-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  border: #fff solid 1px;
  width: 19px;
  height: 19px;
  margin-right: 5px;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background-color: #fff;
}

.button {
  background-color: transparent;
  border: #fff solid 1px;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  cursor: pointer;
}

.more-button {
  padding-top: 7px;
  padding-bottom: 7px;
  margin-right: 3px;
}

.search-form__pseudo-checkbox:has(:focus-visible) {
  outline: #fff solid 1px;
  outline-offset: 1px;
}

.button:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
}

.button:active {
  background-color: #545050;
  text-decoration: none;
}

button:focus {
  outline: none;
}

.button:focus-visible {
  outline: #fff solid 1px;
  outline-offset: 1px;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
  text-underline-offset: 1px;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: #fff solid 1px;
  outline-offset: 1px;
}

.content__list-item {
  width: 100%;
  padding: 0 3px;
}